[Unit]
Description=Sample Web Server
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/java -jar {{ app_dir }}/{{ app_file }}
Environment=PORT={{ app_port }}
Restart=always
RestartSec=8
User={{ ansible_user_id }}
